main {
  text-align: center;
  h1 {
    padding: 5% 0;
    font-size: 46px;
    text-decoration: underline;
  }
  .form {
    margin: 0 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    input {
      margin-top: 5%;
    }
    .form__submit {
      color: #fff;
      background-color: var(--button-blue);
      border: none;
      border-radius: 4px;
      padding: 1%;
    }
    .error-message {
      padding-top: 2%;
    }
  }
}
