<section id="adopter-et-dyr">
  <img
    src="./assets/images/adopt/adopt.jpg"
    alt="dyr i nød"
    id="adopter-et-dyr-img"
  />
  <h4>Adopter et dyr</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores.</p>
</section>
