<section id="dyr-hos-os">
  <div class="dyr-hos-os__text">
    <h2>Dyr hos os</h2>
    <p class="hvor-mange-dyr">5 dyr</p>
  </div>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
  <section id="et-dyr">
    <img
      src="./assets/images/animals/amina.jpg"
      alt="anima"
      class="dyr-hos-os-img"
    />
    <h5>Jesper</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      assumenda in explicabo.
    </p>
    <p class="et-dyr__grey">Været på internatet i 83 dage</p>
  </section>
</section>
