<footer
  itemscope
  itemtype="http://schema.org/LocalBusiness"
  itemref="_name1 nav-logo _url9"
  id="footer"
>
  <div class="kontakt">
    <h5>Kontakt</h5>

    <span
      id="_address4"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress"
      ><p itemprop="streetAddress">Tornebuskvej 22, 1.</p>
      <p itemprop="postalCode">1131 København K</p></span
    >
    <p>CVR: <span id="_telephone3" itemprop="telephone">22446187</span></p>
    <p>Husk at du kan få fradrag for donationer på op til 16.600 kr.</p>
  </div>
  <p class="copyright">
    <i class="far fa-copyright" aria-hidden="true"></i> 2020 - Foreningen for
    Dyrevelfærd
  </p>
  <div class="partnere">
    <h5>Partnere</h5>
    <a href="https://anima.dk/">Anima</a>
    <a href="https://www.worldanimalprotection.org/">World Animal Protection</a>
    <a href="https://www.foedevarestyrelsen.dk/Sider/forside.aspx"
      >Fødfevarestyrelsen</a
    >
    <a href="https://faktalink.dk/">Faktalink</a>
  </div>
</footer>
