<header id="header">
  <h1>Foreningen for Dyrevelfærd</h1>
  <p>Vi specialisere os i dyrevelfærd</p>
  <img
    src="https://via.placeholder.com/728x90.png?text=Visit+WhoIsHostingThis.com+Buyers+Guide"
    alt="kittens"
    id="header-kittens"
  />
</header>
