<header id="header">
  <h1>Foreningen for Dyrevelfærd</h1>
  <p>Vi specialisere os i dyrevelfærd</p>
  <img
    src="./assets/images/header/kittens.jpg"
    alt="kittens"
    id="header-kittens"
  />
</header>
