<section id="nyhedsbrev">
  <div class="nyhedsbrev__text">
    <h4>Tilmeld vores nyhedsbrev</h4>
    <p>
      Få inspiration og nyheder om dyrevelfærd og vores arbejde, direkte i din
      indbakke.
    </p>
  </div>
  <form method="GET" class="form" novalidate>
    <div class="error-message"></div>
    <input
      type="email"
      name="email"
      class="form_input form__email"
      placeholder="Email"
    />
    <input name="name" class="form_input form__name" placeholder="Navn" />

    <input type="submit" value="Tilmeld" class="form__submit" />
  </form>
</section>
