<section class="section1">
  <section>
    <h2>Om os</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
      saepe quos consectetur obcaecati cupiditate consequuntur deserunt, dolores
      ipsa quisquam vero.
    </p>
  </section>
  <section>
    <h2>Dyr & mennesker</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel veritatis
      vero ad provident pariatur assumenda inventore voluptate ut. Accusamus
      esse a expedita neque natus non ipsum, consectetur autem laboriosam
      temporibus.
    </p>
    <p class="section1__second-p">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel veritatis
      vero ad provident pariatur assumenda inventore voluptate ut. Accusamus
      esse a expedita neque natus non ipsum, consectetur autem laboriosam
      temporibus.
    </p>
  </section>
  <section class="section1__mad-og-forbrug">
    <h2>Mad & forbrug</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea molestias
      tenetur, illum error eum minima tempora non a architecto possimus
      inventore vero et voluptate? Ducimus harum laboriosam non nesciunt nam!
    </p>
    <p class="section1__second-p">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel veritatis
      vero ad provident pariatur assumenda inventore voluptate ut. Accusamus
      esse a expedita neque natus non ipsum, consectetur autem laboriosam
      temporibus.
    </p>
  </section>
</section>
