<section id="slider">
  <!-- henter fra apiet -->
  <img src="./assets/images/header/kittens.jpg" alt="kittens" />
  <img src="./assets/images/help/save.jpg" alt="dyr i nød" />
  <img src="./assets/images/adopt/adopt.jpg" alt="adopt" />
</section>
