<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="./assets/css/administration/administration.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>

        <h1>Nu er du kommet ind til administrations siden</h1>

        <main>

        </main>

        <%- include('../partials/footer') %>

    </div>

<%- include('../partials/last') %>