<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="./assets/css/administration/administration.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>

        <h1>Nu er du kommet ind til administrations siden</h1>

        <main>
            <section id="post">
                <h2>Hvilken sektion vil du tilføje data til</h2>
                <ul>
                    <li class="postLi">Adopt sektionerne</li>
                    <li class="postLi">Abouts sektionerne</li>
                    <li class="postLi">Volunteers sektionerne</li>
                    <li class="postLi">Animals sektionerne</li>
                </ul>
            </section>
            <section id="delete">
                <h2>Hvilken sektion vil du slette data i</h2>
                <ul>
                    <li class="deleteLi">Adopt sektionerne</li>
                    <li class="deleteLi">Abouts sektionerne</li>
                    <li class="deleteLi">Volunteers sektionerne</li>
                    <li class="deleteLi">Animals sektionerne</li>                </ul>
            </section>
        </main>
        
        <section id="postForm">
            <form method="GET" class="form-title-content" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
            <form method="GET" class="form-volunteers" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
            <form method="GET" class="form-animals" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <input type="text" name="number" class="form_input form__age" placeholder="Alder">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
        </section>
        <section id="deleteForm">
            <form method="GET" class="form-title-content" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
            <form method="GET" class="form-volunteers" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
            <form method="GET" class="form-animals" novalidate>
                <h3></h3>
                <input name="text" class="form_input form__overskrift" placeholder="Overskrift">
                <input type="text" name="number" class="form_input form__age" placeholder="Alder">
                <textarea name="comment" cols="30" rows="10" class="form_input form__comment" placeholder="Brødtekst"></textarea>
                <div class="error-message"></div>
                <input type="submit" value="Rediger" class="form__submit">
            </form>
        </section>

        <%- include('../partials/footer') %>

    </div>
    <script src="./assets/js/administration.js"></script>

    <%- include('../partials/last') %>