<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="./assets/css/et-dyr/et-dyr.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>

        <main>

        </main>

        <%- include('../partials/footer') %>

    </div>
    <script src="./assets/js/et-dyr.js"></script>

<%- include('../partials/last') %>