<%- include('../partials/head') %>
    <link rel="stylesheet" href="./assets/css/kvitteringsside/kvitteringsside.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>
        
        <main>
            <h1>Tak for at tilmelde dig til vores nyhedsbrev!</h1>
            <h2>For at afmelde nyhedsbrevet</h2>
            <form method="GET" class="form" novalidate>
                <input name="name" class="form_input form__name" placeholder="Navn" />
                <input
                type="email"
                name="email"
                class="form_input form__email"
                placeholder="Email"
                />
                
                <input type="submit" value="Afmeld" class="form__submit" />
                <div class="error-message"></div>
              </form>
        </main>

        <%- include('../partials/footer') %>

    </div>
    <script src="./assets/js/fetch-kvitteringsside.js"></script>
<%- include('../partials/last') %>
