<%- include('../partials/head') %>
    <link rel="stylesheet" href="./assets/css/kvitteringsside/kvitteringsside.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>
        
        <main>
            <h1>Tak for at tilmelde dig til vores nyhedsbrev!</h1>
            <a href="index.html">
                <i class="fas fa-arrow-left"></i>
                <p>Back to start</p>
            </a>
        </main>

        <%- include('../partials/footer') %>

    </div>

<%- include('../partials/last') %>
