#dyr-hos-os {
  padding: 2% 10% 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 10% auto;
  gap: 5%;
  .dyr-hos-os__text {
    grid-row: 1;
    grid-column: 1 / span 2;
    h2 {
      color: var(--text-blue);
      padding-bottom: 2%;
    }
  }
  #et-dyr a {
    display: grid;
    grid-template-columns: 40% 59%;
    column-gap: 1%;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    border: solid 1px var(--grey);
    .dyr-hos-os-img {
      width: 100%;
      height: auto;
      grid-column: 1;
    }
    p {
      font-size: 10px;
      padding: 3% 0;
    }
    .et-dyr__grey {
      color: var(--grey);
    }
  }
}

@media only screen and (max-width: 1496px) {
  #dyr-hos-os {
    padding: 2% 7% 0 7%;
    gap: 3%;
  }
}
@media only screen and (max-width: 1496px) {
  #dyr-hos-os {
    padding: 2% 5% 15% 5%;
  }
}
@media only screen and (max-width: 1161px) {
  #dyr-hos-os {
    padding: 2% 4% 18% 4%;
  }
}

@media only screen and (max-width: 1065px) {
  #dyr-hos-os {
    padding: 2% 3% 20% 3%;
  }
}
@media only screen and (max-width: 873px) {
  #dyr-hos-os {
    padding: 2% 2% 20% 2%;
    gap: 2%;
  }
}
@media only screen and (max-width: 792px) {
  #dyr-hos-os {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 2% 0% 2%;
    #et-dyr {
      margin-bottom: 3%;
    }
    .dyr-hos-os__text p {
      margin-bottom: 2%;
    }
  }
}
