#dyr-hos-os {
  padding: 2% 10% 12% 10%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 10% auto;
  gap: 5%;
  .dyr-hos-os__text {
    grid-row: 1;
    grid-column: 1 / span 2;
    h2 {
      color: var(--text-blue);
      padding-bottom: 2%;
    }
  }
  #et-dyr a {
    display: grid;
    grid-template-columns: 40% 59%;
    column-gap: 1%;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    border: solid 1px var(--grey);
    .dyr-hos-os-img {
      width: 100%;
      height: auto;
      grid-column: 1;
    }
    p {
      font-size: 10px;
      padding: 3% 0;
    }
    .et-dyr__grey {
      color: var(--grey);
    }
  }
}
