#dyr-hos-os {
  padding: 2% 10%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 10%;
  .dyr-hos-os__text {
    grid-row: 1;
    grid-column: 1 / span 2;
    h2 {
      color: var(--text-blue);
      padding-bottom: 2%;
    }
  }
  #et-dyr {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 20% 10% 5% 10%;
    row-gap: 5%;
    overflow: hidden;
    .dyr-hos-os-img {
      height: 100%;
      grid-column: 1;
      grid-row: 1 / span 3;
    }
    p {
      font-size: 10px;
    }
    .et-dyr__grey {
      color: var(--grey);
    }
  }
}
