#footer {
  margin-top: 20%;
  padding: 2% 10%;
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100%;
  .copyright {
    place-self: end center;
  }
  p,
  a {
    font-size: 13px;
  }
  .partnere {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    place-self: end;
    a {
      color: blue;
      text-decoration: none;
    }
  }
}
