#footer {
  margin-top: 12%;
  padding: 2% 10%;
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100%;
  .copyright {
    place-self: end center;
  }
  p,
  a {
    font-size: 13px;
  }
  .partnere {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    place-self: end;
    a {
      color: blue;
      text-decoration: none;
    }
  }
}
@media only screen and (max-width: 1270px) {
  #footer {
    padding: 2% 3%;
  }
}
@media only screen and (max-width: 946px) {
  #footer {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 800px) {
  #footer {
    margin-top: 12%;
  }
}
@media only screen and (max-width: 793px) {
  #footer {
    margin-top: 3%;
  }
}
@media only screen and (max-width: 675px) {
  #footer p,
  #footer a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 572px) {
  #footer p,
  #footer a {
    font-size: 9px;
  }
}
@media only screen and (max-width: 468px) {
  #footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .copyright {
      padding: 2% 0;
    }
  }
}
