#nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0;
  .img-h4 {
    width: 50%;
    display: flex;
    #nav-logo {
      height: 35px;
      width: auto;
    }
    h4 {
      padding: 1% 0 0 2%;
      font-size: 20px;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    width: 26%;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--grey);
        font-weight: bold;
      }
    }
  }
}
#drop-down {
  display: none;
  font-size: 30px;
}

@media only screen and (max-width: 1405px) {
  #nav ul {
    width: 34%;
  }
  #nav .img-h4 {
    width: 40%;
  }
}
@media only screen and (max-width: 1087px) {
  #nav ul {
    width: 38%;
  }
}
@media only screen and (max-width: 941px) {
  #nav ul {
    width: 44%;
  }
}
@media only screen and (max-width: 882px) {
  #nav .img-h4 #nav-logo {
    height: 31px;
  }
  #nav .img-h4 h4 {
    padding: 2% 0 0 2%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 814px) {
  #nav ul {
    width: 50%;
  }
  #nav .img-h4 h4 {
    padding: 3% 0 0 2%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 692px) {
  #nav {
    justify-content: space-between;
    padding: 2% 3%;
    ul {
      width: 14%;
      display: none;
    }
    .img-h4 {
      width: 50%;
      h4 {
        font-size: 12px;
        padding: 4% 0 0 2%;
      }
    }
  }
  #drop-down {
    display: block;
    transform: rotate(-90deg);
  }
}
@media only screen and (max-width: 500px) {
  #nav .img-h4 {
    width: 60%;
  }
}
@media only screen and (max-width: 395px) {
  #nav .img-h4 {
    width: 67%;
  }
  #nav ul li a {
    font-size: 10px;
  }
}
@media only screen and (max-width: 340px) {
  #drop-down {
    font-size: 23px;
  }
  #nav .img-h4 #nav-logo {
    height: 25px;
  }
  #nav .img-h4 {
    width: 72%;
  }
}
