#nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0;
  .img-h4 {
    width: 50%;
    display: flex;
    #nav-logo {
      height: 35px;
    }
    h4 {
      padding: 1% 0 0 2%;
      font-size: 20px;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    width: 26%;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--grey);
        font-weight: bold;
      }
    }
  }
  #drop-down {
    display: none;
  }
}
